params {
    // Base directory for test data
    test_data_base = "https://raw.githubusercontent.com/BioImageTools/test-datasets"

    test_data {
        'stitched_images' {
            'n5' {
                r1_n5 = "${params.test_data_base}/stitched-data/data/R1_n5.tar.gz"
            }
        }
    }
}
