params.modules_testdata_base_path = "s3://spatial_demo_datasets/"

nextflow.enable.moduleBinaries = true

docker.enabled = true
singularity.enabled = false
singularity.runOptions = "-H /tmp --cleanenv --containall"

aws {
    region = "eu-west-2"
    client {
        endpoint = "https://cog.sanger.ac.uk"
        anonymous = true
        s3PathStyleAccess = true
    }
}
